_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.DS_Store
.vscode
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/

# latex
*.synctex.gz
*.toc
*.log
*.out
*.aux
*.fls
*.fdb_latexmk
*.bbl
*.blg

parts/activity/.env
node_modules/
package-lock.json