<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon grey">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email">{{ site.author.email | replace: "@", " AT " }}</a></li>
          {%- endif %}
          {% if site.author.site -%}
            <li><a class="u-site" href="//{{ site.author.site }}">{{ site.author.site }}</a></li>
          {%- endif %}
          <li>{{ site.description.left }}</li>
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <img class="avater" src="/assets/images/about/myFace.jpg" style="width: 24%; border-radius: 50%; margin-bottom: 0.5em;">
        <p>{{ site.description.right | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
