.inputarea {
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.outputarea {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
    overflow-x: scroll;
}

#chart {
    margin-left: auto;
    margin-right: auto;
}

#genusOut {
    max-width: 300px;
}

.content {
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
} 

.display-wrapper {
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.form-text {
    font-size: smaller;
    color: gray;
} 

input {
    width: 100%
}