.inputarea {
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.outputarea {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
}

#chart {
    margin-left: auto;
    margin-right: auto;
}

.display-wrapper {
    display: flex;
    justify-content: space-evenly;
}

#genusOut {
    max-width: 300px;
}

.content {
    width: 80%;
    max-width: 800px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}