// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.reversefootnote {
    visibility: hidden;
}

.reversefootnote::before {
    content: "^";
    visibility: visible;
}

.footnotes {
  font-family: 'Times New Roman', sans-serif;
  font-size: 0.95em;
}

.importantQuote::before {

}

.importantQuote {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Marcellus SC', serif;
  font-size: 1.8em;
  text-align: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

.importantQuote::after {

}

mjx-container {
  overflow-x: auto;
  overflow-y: hidden;
}
